

* {
    text-shadow: none !important;
}

.lafka_featured_img_holder img {
    height: auto;
    width: 100%
}

.ui-accordion .ui-accordion-header {

    cursor: pointer;

    display: block;

    font-size: 100%;

    margin: 5px 12px 0;

    min-height: 0;

    padding: 0.5em 0.5em 0.5em 0.7em;

    position: relative;

}

.ui-accordion .ui-accordion-icons {

    padding-left: 1em;

}

.ui-accordion .ui-accordion-icons .ui-accordion-icons {

    padding-left: 1em;

}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {

    left: 0.5em;

    margin-top: -8px;

    position: absolute;

    top: 50%;

}

.ui-accordion .ui-accordion-content {

    border-top: 0 none;

    overflow: auto;

    padding: 1em;

    margin: 0 12px;

}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {

    border-bottom-right-radius: 4px;

}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {

    border-bottom-left-radius: 4px;

}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {

    border-top-right-radius: 4px;

}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {

    border-top-left-radius: 4px;

}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {

    background: url(../image/ui-bg_glass_1x400.png) repeat-x scroll 50% 50% #e6e6e6;

    border: 1px solid #d3d3d3;

    color: #555;

    font-weight: 400;

}

.ui-widget-content {

    border: 1px solid #aaa;

}

.lafka_upload_image_button.button {
    background: #71a900;
    color: #fff;
    border: none;
    box-shadow: none !important;
    height: auto;
    padding: 5px 12px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    background-color: #0eafcc;
}

.section .controls {
    position: relative;
}

a.lafka_remove_image_link {
    position: absolute;
    background: url(../image/remove.png) no-repeat center 4px #e6e6e6;
    text-indent: -9999px;
    width: 22px;
    height: 22px;
    display: block;
    top: -5px;
    left: -5px;
    z-index: 1000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
}

label.lafka-admin-option-label {
    display: inline-block;
    width: 150px;
}

/* NICE SELECT STYLES */

.wp-picker-container.wp-picker-active {
    width: 100%;
}

.wp-picker-container input[type="text"].wp-color-picker {
    width: 65px !important;
    padding: 8px !important;
}

.wp-picker-input-wrap .button {
    width: auto !important;
}

.wp-core-ui .button.button-small {
    height: auto !important;
    padding: 4px 8px;
    border: 1px solid #f1f1f1;
    box-shadow: none !important;
}

/* RTL STYLES BEGIN */

.rtl a.lafka_remove_image_link {
    left: auto;
    right: -5px;
}

/* RTL STYLES END */

#lafka-push-confirm{
    display:none;
}

.column-taxonomy-lafka_branch_location {
    width: 5%;
}