/* RESPONSIVE STYLES */
@media only screen and (min-width: 1440px) {

    body.lafka_boxed #container, body.lafka_boxed .inner, body.lafka_boxed #container > .dokan-dashboard-wrap {
        width: 1280px;
    }
}

@media only screen and (min-width: 1480px) {

    body.lafka_boxed #container, body.lafka_boxed .inner, body.lafka_boxed #container > .dokan-dashboard-wrap {
        width: 1440px;
    }
}

@media only screen and (min-width: 1024px) {

    #content > .inner.lafka_masonry_fullwidth, body.archive.woocommerce.woocommerce-page.lafka-fullwidth-shop-pages #content > #products-wrapper.inner, body.lafka-fullwidth-blog-pages.blog #content > .inner, body.archive.woocommerce.woocommerce-page.lafka-fullwidth-shop-pages .lafka_title_holder .inner {
        padding-left: 5%;
        padding-right: 5%;
    }

    body.archive.woocommerce.woocommerce-page.lafka-fullwidth-shop-pages .lafka_title_holder .inner {
        width: 100%;
        max-width: none;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    div.product div.summary, #content div.product div.summary {
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1279px) {

    .summary form.cart div.product-addon p.form-row {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1359px) {

    .cart-info .coupon {
        width: 60%;
    }

    #main-menu li div.lafka-mega-menu > ul.sub-menu > li {
        padding: 30px;
    }

    .cart-info .coupon input, .cart-info .coupon button {
        width: 100%;
    }

    .foodmenu-unit.foodmenu-col-4 {
        width: 33.33%;
    }

    .lafka_masonry_fullwidth .foodmenu-unit.masonry-unit {
        width: 25%;
    }

    .foodmenu-unit a.foodmenu-link {
        padding: 20px;
    }

    .lafka_masonry_fullwidth .foodmenu-unit.masonry-unit {
        width: 25%;
    }
}

@media only screen and (max-width: 782px) {

    body.admin-bar #header, body.admin-bar.lafka-sticky-header #header {
        top: 46px
    }
}

@media only screen and (max-width: 1279px) {

    #main-menu, #main-menu #main_nav.menu, ul.lafka-top-menu, .video_controlls, .lafka-wishlist-counter, #lafka-account-holder {
        display: none !important;
    }

    .main_menu_holder.has-main-menu {
        min-height: 90px;
    }

    .lafka_title_holder h6 {
        max-width: none;
    }

    .lafka_title_holder .inner {
        padding-top: 75px;
        padding-bottom: 60px;
    }

    #header .inner, #footer .inner {
        padding-left: 20px;
        padding-right: 20px;
    }

    .upsells.products h2 {
        width: 100%;
    }

    .upsells.products h2::after {
        display: none;
    }

    a.mob-menu-toggle {
        display: table;
    }

    .lafka-search-cart-holder {
        right: 100px;
    }

    a.mob-menu-toggle, .lafka-search-cart-holder, .lafka-top-bar-message {
        top: 20px;
    }

    body.single-post #content:not(.has-sidebar) .content_holder > .post > .lafka_post_data_holder .wpb_text_column {
        padding: 0;
    }

    body.single-post .content_holder > .post > .lafka_post_data_holder p {
        font-size: initial;
    }

    .cart-info .coupon, .cart-info .coupon input, table.shop_table.cart .actions > input.button, form.checkout_coupon p, form.checkout_coupon p input, .cart-info .coupon button, .cart-info tbody td.actions > button.button {
        width: 100%;
    }

    .cart-info .coupon button {
        margin-bottom: 5px;
        background-color: #333;
    }

    .lafka_blog_masonry.lafka-mozaic .blog-post, .lafka_blog_masonry .blog-post {
        width: 100% !important;
    }

    .lafka_blog_masonry.lafka-mozaic .blog-post:nth-child(1) .lafka_post_data_holder, .lafka_blog_masonry.lafka-mozaic .blog-post:nth-child(7) .lafka_post_data_holder, .lafka_blog_masonry.lafka-mozaic .blog-post:nth-child(13) .lafka_post_data_holder, .lafka_blog_masonry.lafka-mozaic .blog-post:nth-child(19) .lafka_post_data_holder {
        max-width: 90%;
        position: relative !important;
        right: auto;
        bottom: auto;
    }

    .lafka_post_data_holder {
        width: 100%;
    }

    #powered .lafka-social, #powered .author_credits {
        width: 100%;
        padding-right: 70px;
        text-align: left;
    }

    .wpb_lafka_banner a span.lafka_banner-icon, .lafka-none-overlay .foodmenu-unit-info a.foodmenu-link::before {
        display: none;
    }

    .wpb_lafka_banner.lafka_banner_big a h4 {
        font-size: 21px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .wpb_lafka_banner a h4 {
        font-size: 18px;
    }

    .lafka-none-overlay .foodmenu-unit-info a.foodmenu-link h4, .lafka-none-overlay .foodmenu-unit-info a.foodmenu-link small, .foodmenu-unit-info h6 {
        padding-left: 0;
    }

    .foodmenu-unit-info h4 {
        font-size: 15px;
        width: 100%;
    }

    .foodmenu-unit.foodmenu-col-4, .lafka_masonry_fullwidth .foodmenu-unit.masonry-unit, .lafka_shortcode_latest_posts.lafka_blog_masonry.lafka-latest-blog-col-4 .blog-post {
        width: 33.33%;
    }

    .lafka_shortcode_latest_posts .blog-post {
        width: 100% !important;
    }

    .lafka_shortcode_latest_posts > div.clear {
        display: none;
    }

    .foodmenu-unit a.foodmenu-link {
        padding: 20px;
    }

    #content div.product .lafka-product-summary-wrapper div.images {
        padding-top: 0;
    }

    body.single-product #content div.product div.summary h1.product_title {
        font-size: 18px !important;
    }

    #content div.product .lafka-product-summary-wrapper.lafka-has-product-cover-image div.images {
        padding-top: 300px;
    }

    .woocommerce-product-gallery__image {
        width: 100%;
        top: auto !important;
        padding: 0;
        margin-bottom: 30px;
    }

    .lafka-product-summary-wrapper.lafka-standard-product-gallery .woocommerce-product-gallery__image {
        margin-bottom: 0 !important;
    }

    body.single-product .content_holder .lafka-has-product-cover-image {
        padding-left: 40px;
    }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {

    .inner {
        width: 100% !important;
    }

    .count_holder_small .count_info {
        display: none;
    }
}

@media only screen and (max-width: 979px) {

    body.woocommerce-cart .cart-collaterals {
        width: 320px;
        padding: 30px;
    }

    .vc_tta-tab {
         margin: 0 !important;
         font-size: 13px;
     }

    .wpb-js-composer .vc_tta.vc_general .vc_tta-tab > a {
        padding: 10px !important;
    }

    .lafka_title_holder.title_has_image h1.heading-title, .lafka_title_holder.title_has_image h6 {
        width: 100%;
    }

    .lafka_title_holder.title_has_image h6 {
        font-size: 18px;
    }

    .lafka_transparent_header .lafka_title_holder.title_has_image {
        min-height: auto;
    }

    .lafka_title_holder.title_has_image .inner {
        padding-top: 80px !important;
        padding-bottom: 80px !important;
    }

    .lafka_title_holder .lafka-zoomable-background {
        background-position: unset;
        background-attachment: unset;
    }

    body.lafka_transparent_header .lafka_title_holder.title_has_image .inner {
        padding-top: 190px !important;
        padding-bottom: 80px !important;
    }

    body.woocommerce-cart form.woocommerce-cart-form {
        width: calc(100% - 325px);
        padding-right: 30px;
    }

    #lafka_page_title h1.heading-title {
        font-size: 36px;
    }

    body.single-post .lafka_title_holder .blog-post-meta {
        font-size: 12px;
        margin-top: 30px;
    }

    .breadcrumb {
        font-size: 12px;
    }

    body.single-post .lafka_title_holder .blog-post-meta img.avatar {
        width: 22px;
        height: 22px;
    }

    #comments {
        padding-left: 0;
        padding-right: 0;
    }

    .commentlist ul.children {
        padding-left: 0;
    }

    .commentlist ul.children::before {
        left: 0;
    }

    .commentlist ul.children::after {
        left: 6px;
        width: 15px;
        height: 5px;
    }

    .header-icon-teasers {
        display: none;
    }

    .has-sidebar .content_holder, .has-sidebar.lafka-left-sidebar .content_holder {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        border: none;
    }

    .sidebar, .has-sidebar.lafka-left-sidebar .sidebar {
        padding-left: 0;
        width: 100%;
        padding-right: 0;
    }

    div.prod_hold, li.product-category, div.product-category {
        width: 49.9% !important;
    }

    div.prod_hold + .clear {
        display: none;
    }

    div.product div.images, #content div.product div.images {
        padding: 0;
    }

    span.onsale {
        top: 30px;
        left: 30px;
    }

    div.product div.images ol.flex-control-nav, #content div.product div.images ol.flex-control-nav {
        width: 100%;
        text-align: left;
    }

    div.product div.images ol.flex-control-nav li, #content div.product div.images ol.flex-control-nav li {
        margin: 0;
        width: 25% !important;
        padding: 2px;
    }

    .sidebar > div.widget, .sidebar > div.widget_pages, .sidebar > div.box {
        margin: 0 0 50px 0;
    }

    ul.tabs li, .wpb_tabs .wpb_tabs_nav li {
        border: none !important;
    }

    .foodmenu-unit.foodmenu-col-3, .foodmenu-unit.masonry-unit {
        width: 50%;
    }

    .foodmenu-unit.foodmenu-col-4, .lafka_masonry_fullwidth .foodmenu-unit.masonry-unit {
        width: 33.33%;
    }

    .foodmenu-unit a.foodmenu-link {
        padding: 20px;
    }

    .has-sidebar .lafka_image_list a.lafka-magnific-gallery-item {
        width: 100%;
    }

    .blog-post, .lafka_blog_masonry.lafka-mozaic .blog-post {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 30px !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
        padding-top: 0 !important;
        border: none !important;
        width: 100% !important;
    }

    body.woocommerce-cart form.woocommerce-cart-form, form.checkout.woocommerce-checkout #customer_details, body.woocommerce-cart .cart-collaterals, form.checkout.woocommerce-checkout #order_review {
        width: 100%;
    }

    body.woocommerce-cart .cart-collaterals {
        padding: 20px 0;
        background: none;
        border: none;
    }

    body.woocommerce-cart .cart-info, body.woocommerce-cart form.woocommerce-cart-form, form.checkout.woocommerce-checkout #customer_details {
        padding-right: 0;
        margin-bottom: 15px;
    }

    .coupon input#coupon_code, .checkout_coupon input#coupon_code {
        margin-bottom: 20px;
    }

    .cart-collaterals h2 {
        padding: 0 15px 10px 15px;
    }

    .blog-post .lafka_post_data_holder {
        max-width: none !important;
        width: 100%;
        padding: 20px 15px;
        margin-top: 0;
    }

    .blog-post .lafka_post_data_holder h2.heading-title {
        font-size: 15px !important;
        padding: 0;
    }
}

@media only screen and (min-width: 768px) {

    p#billing_first_name_field, p#billing_last_name_field {
        display: inline-block;
        width: 49.7%;
        vertical-align: top;
    }
}

@media only screen and (max-width: 768px) {

    div.product div.images, #content div.product div.images, div.product div.summary, #content div.product div.summary, .foodmenu_top div.two_third.foodmenu-main-image-holder, .foodmenu_top div.one_third.last.project-data {
        width: 100%;
        max-width: none;
        padding-left: 0;
        padding-right: 0;
        float: none;
        position: relative !important;
        top: auto;
    }

    .lafka-change-branch span {
        display: inline-block;
        padding: 2px 0;
        width: calc(100% - 105px);
    }

    .cart-info tr:nth-child(odd) td {
        background-color: transparent;
    }

    body.single.single-product .breadcrumb {
        margin-top: 15px;
    }

    #content:not(.has-sidebar) .lafka-product-summary-wrapper.lafka-image-list-product-gallery {
        padding-top: 0;
    }

    body.admin-bar #content:not(.has-sidebar) .lafka-product-summary-wrapper.lafka-image-list-product-gallery {
        padding-top: 15px;
    }

    div.quantity {
        padding: 0 20px;
    }

    button.single_add_to_cart_button, div.product a.single_add_to_cart_button, .wishlist_table .add_to_cart.button {
        padding: 12px 27px;
    }

    #header.lafka-has-header-top #logo {
        width: 160px;
        margin-left: -80px;
    }

    #header #logo::after, #header #logo::before {
        border-width: 20px 40px;
    }

    #header.lafka-sticksy #logo::before, #header.lafka-sticksy #logo::after {
        bottom: -30px;
        border-width: 15px 40px;
    }

    .lafka-search-cart-holder {
        right: 20px;
        top: auto !important;
        bottom: 20px;
        position: fixed;
        width: 48px;
        padding: 6px;
    }

    #cart-module .cart-contents span.count {
        left: 20px;
    }

    .lafka-search-cart-holder .lafka-search-trigger, .lafka-search-cart-holder #cart-module, .lafka-search-cart-holder .lafka-wishlist-counter, #lafka-account-holder {
        margin: 0 0 6px 0;
    }

    a.mob-menu-toggle {
        right: 20px;
    }

    .lafka-top-bar-message {
        left: 20px;
    }

    #header .lafka-top-bar-message {
        padding: 0;
    }

    #header .lafka-top-bar-message span.lafka-top-bar-message-text {
        display: none;
    }

    #header .lafka-top-bar-message span.lafka-top-bar-phone {
        font-size: 0 !important;
    }

    #header .lafka-top-bar-message span.lafka-top-bar-phone a::before {
        font-size: 17px !important;
        line-height: 48px;
        width: 48px;
        height: 48px;
        text-align: center;
        margin: 0;
        color: #fff !important;
        background-color: #a1ba32 !important;
        border-radius: 50%;
    }

    a.mob-menu-toggle, .lafka-search-cart-holder, .lafka-top-bar-message {
        top: 20px;
    }

    nav.woocommerce-MyAccount-navigation, div.woocommerce-MyAccount-content {
        width: 100%;
        position: relative;
        top: auto;
        padding-left: 0;
        padding-right: 0;
    }

    nav.woocommerce-MyAccount-navigation {
        margin-bottom: 35px;
    }

    nav.woocommerce-MyAccount-navigation ul li {
        display: inline-block;
        margin-right: 8px;
    }

    .foodmenu_top div.two_third.foodmenu-main-image-holder, .foodmenu_top div.one_third.last.project-data {
        margin-bottom: 30px;
    }

    .foodmenu_top {
        padding-bottom: 0;
    }

    .lafka-project-description {
        padding-top: 30px;
        margin-bottom: 30px;
    }

    .related.products h2, .upsells.products h2, .similar_projects > h4, .lafka-related-blog-posts > h4, .tribe-events-related-events-title {
        margin-bottom: 20px;
    }

    .lafka-product-summary-wrapper div.lafka-share-links {
        width: auto;
        position: relative;
        top: auto;
        right: auto;
        text-align: left;
        margin-bottom: 25px;
    }

    .lafka-product-summary-wrapper div.lafka-share-links span {
        writing-mode: initial;
        margin-right: 8px;
        margin-bottom: 0;
        vertical-align: bottom;
    }

    .lafka-product-summary-wrapper div.lafka-share-links a {
        margin-bottom: 3px;
        margin-right: 3px;
        vertical-align: bottom;
    }

    .lafka-image-list-product-gallery #content:not(.has-sidebar) .lafka-product-summary-wrapper, #content:not(.has-sidebar) .lafka_image_list_foodmenu {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    .lafka-quick-view-lightbox .lafka-quickview-images, .lafka-quick-view-lightbox .summary.entry-summary {
        width: 100% !important;
    }

    .lafka-product-summary-wrapper.lafka-has-product-cover-image {
        overflow: hidden !important;
    }

    a.lafka-post-nav {
        display: none;
    }

    .summary.entry-summary button.single_add_to_cart_button {
        min-width: auto;
    }

    div.product input.qty {
        margin: 0 auto;
    }

    .cart-info .product-thumbnail img {
        width: auto;
        max-width: 100%;
    }

    div.product div.images, #content div.product div.images {
        margin-bottom: 25px;
        overflow: hidden;
    }

    div.product .lafka-product-summary-wrapper.lafka-has-product-cover-image div.images, #content div.product .lafka-product-summary-wrapper.lafka-has-product-cover-image div.images {
        padding-top: 0;
    }

    .lafka-product-summary-wrapper.lafka-has-product-cover-image > img {
        height: 100vh !important;
        width: auto !important;
        max-width: none;
    }

    body.single-product #content div.product div.summary h1.product_title {
        font-size: 18px !important;
    }

    #dokan-primary, #dokan-secondary {
        width: 100%;
        float: left;
        padding: 0;
        margin-right: 0;
    }

    #dokan-secondary {
        margin-bottom: 35px;
    }

    .one_third.project-data, .two_third.foodmenu-main-image-holder, .foodmenu_top.lafka_image_list_foodmenu .project-data .more-details, .foodmenu_top.lafka_image_list_foodmenu .project-data .project-details, .foodmenu_top.lafka_image_list_foodmenu .project-data .main-features {
        width: 100%;
    }

    .two_third.foodmenu-main-image-holder {
        margin-bottom: 50px;
    }

    .foodmenu-main-image-holder #wrap {
        margin-left: 0;
    }

    .lafka-products-list-view .prod_hold .links {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        float: left;
        width: 100%;
    }

    .lafka-products-list-view div.prod_hold.lafka-variations-list-in-catalog .links, .lafka-products-list-view div.prod_hold.lafka-variations-list-in-catalog .links a.lafka-quick-view-link {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
    }

    .lafka-products-list-view div.prod_hold.lafka-variations-list-in-catalog .links a.lafka-quick-view-link {
        width: auto;
        text-indent: 0;
        font-size: 12px;
        padding: 0 12px;
    }

    .lafka-products-list-view div.prod_hold.lafka-variations-list-in-catalog .links a.lafka-quick-view-link::before {
        display: inline-block;
        margin-right: 4px;
    }

    .foodmenu-unit.list-unit .foodmenu-unit-info, .foodmenu-unit.list-unit .port-unit-image-holder {
        width: 100%;
        float: left;
        clear: both;
    }

    .foodmenu-unit-info h6 {
        right: 15px;
    }

    div.product div.images ul.additional-images, #content div.product div.images ul.additional-images, .foodmenu-main-image-holder ul.additional-images {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        float: left;
        padding-top: 30px !important;
    }

    #footer .widget {
        width: 98% !important;
        margin-right: 1% !important;
        margin-left: 1% !important;
        margin-bottom: 30px;
    }

    .lafka_image_list a.lafka-magnific-gallery-item {
        width: 100%;
        margin-bottom: 0;
    }

    .count_holder .count_info_left, .count_holder .count_info {
        width: 100%;
    }

    .woocommerce-tabs .panel.entry-content {
        padding: 20px;
    }

    body.single-product #products-wrapper .woocommerce-tabs.wc-tabs-wrapper {
        margin-bottom: 40px;
    }

    .cart-info table, .cart-info tbody td, .cart-info tbody tr {
        display: block !important;
        padding: 12px 0 !important;
        text-align: right;
        background: none;
        border: none;
        vertical-align: middle;
    }

    .cart-info tbody td > span {
        display: block !important;
        text-align: right;
        background: none;
        border: none;
        vertical-align: middle;
    }

    .woocommerce table.shop_table_responsive tbody {
        width: 100% !important;
        border-collapse: collapse !important;
        display: table-row-group;
        min-width: 100% !important;
        float: left;
        vertical-align: middle;
    }

    .cart-info table thead, .shop_table.shop_table_responsive.my_account_orders thead {
        display: none;
    }

    .cart-info tbody td span, .cart-info tbody td a, table.shop_table.cart td.product-quantity div.quantity {
        float: right;
        vertical-align: middle;
        width: auto !important;
    }

    .cart-info tbody .woocommerce-Price-amount .woocommerce-Price-currencySymbol:first-child {
        float: left;
    }

    .cart-info td.product-name dd, .cart-info td.product-name dt {
        width: 100%;
    }

    .shop_table.shop_table_responsive.my_account_orders td, .shop_table.shop_table_responsive.my_account_orders tr {
        display: block !important;
        padding: 12px 0 !important;
        background: none;
        border: 0;
        vertical-align: middle;
    }

    .shop_table.shop_table_responsive.my_account_orders td > span, .shop_table.shop_table_responsive.my_account_orders td a, .shop_table.shop_table_responsive.my_account_orders td time {
        display: block;
        width: 100%;
        float: none;
    }

    .shop_table.shop_table_responsive.my_account_orders td span.amount {
        width: auto !important;
        display: inline-block !important;
    }

    .shop_table.shop_table_responsive.my_account_orders td a.woocommerce-button.button.view {
        width: auto !important;
        text-align: center !important;
        display: inline-block;
    }

    .woocommerce table.shop_table.shop_table_responsive.my_account_orders tr td::before, .woocommerce-page table.shop_table.shop_table_responsive.my_account_orders tr td::before {
        display: block;
        width: 100%;
        margin-bottom: 8px;
        float: none;
        text-align: left;
    }

    .woocommerce table.shop_table_responsive .coupon {
        float: left;
    }

    .woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr td::before {
        content: attr(data-title) ": ";
        float: left;
        vertical-align: middle;
        font-weight: 400;
        font-size: 12px;
    }

    .cart_totals table.shop_table_responsive tr td::before {
        display: none !important;
    }

    .woocommerce table.shop_table_responsive tr td.actions::before, .woocommerce-page table.shop_table_responsive tr td.actions::before, .woocommerce table.shop_table_responsive tr td.product-remove::before, .woocommerce-page table.shop_table_responsive tr td.product-remove::before, .woocommerce table.shop_table_responsive tr td.product-thumbnail::before, .woocommerce-page table.shop_table_responsive tr td.product-thumbnail::before {
        display: none;
    }

    .woocommerce table.shop_table_responsive tr td.product-thumbnail a, .woocommerce-page table.shop_table_responsive tr td.product-thumbnail {
        float: none;
    }

    .woocommerce table.shop_table_responsive tr {
        border-bottom: 1px solid #f1f1f1;
        background: none !important;
    }

    .cart-info tr.odd td {
        background-color: transparent;
    }

    table.shop_table.cart td.product-quantity div.quantity {
        margin-right: 0;
        max-width: 60px;
    }

    .woocommerce table.shop_table_responsive tr td::after {
        content: " ";
        display: block;
        height: 0 !Important;
        clear: both;
        visibility: hidden;
    }

    .cart-info tbody td.product-remove {
        width: 100% !important;
    }

    .cart-info tbody td a.remove {
        display: block;
        font-size: 27px;
        width: 36px !important;
        height: 36px !important;
        vertical-align: middle !important;
        line-height: 36px !important;
        background-color: #f8f8f8;
        border-radius: 50%;
        text-decoration: none;
        float: none;
        margin: 0 auto;
    }

    .cart-info td.product-remove a.remove::before, .wishlist_table td.product-remove a.remove::before {
        padding-top: 0;
    }

    .woocommerce-form-coupon-toggle, .woocommerce-form-login-toggle {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .cart-info tbody td span.woocommerce-Price-currencySymbol

    .cart-info tbody tr.cart_item {
        position: relative;
    }

    .cart-info tbody tr.cart_item td {
        padding: 5px 0 !important;
    }

    .cart-info td.product-remove {
        display: block !important;
        position: absolute;
        top: 3px;
        right: -5px;
        padding: 0 !important;
    }

    .cart-info td.product-remove a.remove {
        margin: 0;
        float: right;
    }

    .woocommerce table.shop_table_responsive .coupon button.button {
        background-color:#fff;
        color:#333;
        border: 2px solid #333;
        padding: 10px 20px;
    }

    #content:not(.has-sidebar) p.woocommerce-thankyou-order-received {
        margin-left: -23px;
    }

    #content .lafka-author-info {
        padding: 20px;
    }

    .lafka-author-content div.avatar {
        position: relative;
        top: auto;
        left: auto;
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
    }

    #tab-reviews #comments, #tab-reviews #review_form_wrapper, #tab-reviews #respond.comment-respond, body.single-post #comments ul.commentlist, ol.commentlist, body.single-post #content #comments > ul.commentlist + #respond.comment-respond {
        width: 100% !important;
        padding: 0 !important;
        border-left: none !important;
        position: relative;
        top: 0;
        margin-bottom: 0;
    }

    #comments p.nocomments {
        width: 100% !important;
        margin-bottom: 80px;
        padding: 50px 30px;
        position: relative;
        top: 0;
    }

    .foodmenu-unit {
        width: 100% !important;
    }

    .vc_col-xs-1:last-child, .vc_col-sm-1:last-child, .vc_col-md-1:last-child, .vc_col-lg-1:last-child, .vc_col-xs-2:last-child, .vc_col-sm-2:last-child, .vc_col-md-2:last-child, .vc_col-lg-2:last-child, .vc_col-xs-3:last-child, .vc_col-sm-3:last-child, .vc_col-md-3:last-child, .vc_col-lg-3:last-child, .vc_col-xs-4:last-child, .vc_col-sm-4:last-child, .vc_col-md-4:last-child, .vc_col-lg-4:last-child, .vc_col-xs-5:last-child, .vc_col-sm-5:last-child, .vc_col-md-5:last-child, .vc_col-lg-5:last-child, .vc_col-xs-6:last-child, .vc_col-sm-6:last-child, .vc_col-md-6:last-child, .vc_col-lg-6:last-child, .vc_col-xs-7:last-child, .vc_col-sm-7:last-child, .vc_col-md-7:last-child, .vc_col-lg-7:last-child, .vc_col-xs-8:last-child, .vc_col-sm-8:last-child, .vc_col-md-8, .vc_col-lg-8:last-child, .vc_col-xs-9:last-child, .vc_col-sm-9:last-child, .vc_col-md-9:last-child, .vc_col-lg-9:last-child, .vc_col-xs-10:last-child, .vc_col-sm-10:last-child, .vc_col-md-10:last-child, .vc_col-lg-10:last-child, .vc_col-xs-11:last-child, .vc_col-sm-11:last-child, .vc_col-md-11:last-child, .vc_col-lg-11:last-child, .vc_col-xs-12:last-child, .vc_col-sm-12:last-child, .vc_col-md-12:last-child, .vc_col-lg-12:last-child {
        margin-bottom: 0;
    }

    #price-filter {
        width: 30%;
    }

    .events-archive.events-gridview #tribe-events-content table .type-tribe_events {
        display: none;
    }

    #tribe-events-content .tribe-events-calendar td.tribe-events-has-events::after {
        background: #999;
        border-radius: 50%;
        top: 50%;
        content: "";
        display: block;
        height: 10px;
        left: 50%;
        margin: 5px 0 0 -5px;
        padding: 0;
        position: absolute;
        width: 10px;
    }

    .tribe-events-list .tribe-events-event-image {
        margin-bottom: 20px;
    }

    #tribe-events-photo-events .type-tribe_events.tribe-events-photo-event {
        width: 95% !important;
        margin: 0 0 30px 0 !important;
    }

    #tribe-bar-views {
        width: 28%;
    }

    .tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap .column {
        height: auto !important;
    }

    .tribe-events-list .tribe-events-event-image, .tribe-events-list .tribe-events-loop .tribe-events-content {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .single-tribe_events .tribe-events-event-meta.secondary .tribe-events-meta-group, .single-tribe_events .tribe-events-venue-map {
        width: 100%;
    }

    .has-sidebar .wcmp_sorted_vendors {
        width: 46% !important;
        margin-right: 8% !important;
    }

    .has-sidebar .wcmp_vendor_list_wrap .wcmp_sorted_vendors:nth-child(2n+2) {
        margin-right: 0 !important;
    }

    .lafka-products-list-view div.prod_hold {
        width: 100% !important;
        text-align: left;
        padding: 15px 0;
    }

    body > div.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content a.lafka-change-branch-button {
        position: relative;
        top: auto;
        right: auto;
        width: auto;
        height: auto;
        display: inline-block;
        margin-right: 5px;
        font-size: inherit;
        margin-top: 4px;
    }

    body > div.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .lafka-change-branch-button::before {
        display: inline-block !important;
        margin-right: 5px;
        vertical-align: middle;
    }

    body > div.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .lafka-change-branch + ul.cart_list.product_list_widget {
        top: 105px;
        padding-top: 0;
      }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {

    .one_third, .one_fourth, .one_fifth, .two_fifth, .three_fifth {
        width: 48%;
        margin-right: 2%;
    }

    div.prod_hold .yith-wcwl-wishlistexistsbrowse.show, div.prod_hold .yith-wcwl-wishlistaddedbrowse.show {
        display: none !important;
    }

    #price-filter {
        width: calc(100% - 110px);
    }

    div.prod_hold, li.product-category, div.product-category {
        width: 49.5% !important;
    }

    body.single-product #content:not(.has-sidebar) > #products-wrapper.inner {
        padding-top: 0;
    }

    .lafka-list-variation-weight {
        display: none;
    }

    .foodmenu-unit.list-unit .foodmenu-unit-info {
        padding: 20px;
    }

    div.prod_hold a.button.add_to_cart_button i.fa, .foodmenu-unit.list-unit .foodmenu-unit-info::before {
        display: none;
    }

    a.reset_variations {
        display: none;
    }

    #price-filter {
        width: calc(100% - 110px);
    }

    .blog-post {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
        padding-top: 0 !important;
        border: none !important;
        width: 100% !important;
    }

    .post-date::before {
        display: none !important;
    }

    .lafka_blog_small_image .lafka_post_data_holder {
        margin-left: 0 !important;
        clear: both !important;
    }

    .foodmenu-unit.foodmenu-col-3, .foodmenu-unit.masonry-unit, .foodmenu-unit.foodmenu-col-4, .lafka_masonry_fullwidth .foodmenu-unit.masonry-unit {
        width: 50%;
    }

    .foodmenu-unit a.foodmenu-link {
        padding: 20px;
    }

    .lafka-none-overlay .foodmenu-unit-info a.foodmenu-link::before {
        top: 28px;
    }

    .wpb_text_column h1, h1.vc_custom_heading, .lafka_title_holder.title_has_image h1.heading-title, #content div.product div.summary h1.product_title {
        font-size: 36px !important;
    }

    .wpb_text_column.special-font h1, h1.vc_custom_heading.special-font {
        font-size: 60px !important;
    }

    .wpb_text_column h2, h2.vc_custom_heading {
        font-size: 28px !important;
    }

    .wpb_text_column.special-font h2, h2.vc_custom_heading.special-font {
        font-size: 48px !important;
    }

    .wpb_text_column h3, h3.vc_custom_heading {
        font-size: 24px !important;
    }

    .wpb_text_column.special-font h3, h3.vc_custom_heading.special-font {
        font-size: 38px !important;
    }

    .wpb_text_column h4, h4.vc_custom_heading {
        font-size: 18px !important;
    }

    .wpb_text_column.special-font h4, h4.vc_custom_heading.special-font {
        font-size: 24px !important;
    }

    .wpb_text_column h5, h5.vc_custom_heading {
        font-size: 16px !important;
    }

    .wpb_text_column.special-font h5, h5.vc_custom_heading.special-font {
        font-size: 21px !important;
    }

    .lafka-product-slide-details, .lafka-product-slide-image {
        width: 100%;
        display: block;
        padding: 0;
    }

    .lafka-product-slide-image {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 600px) {

    body.admin-bar #header.lafka-sticksy {
        top: 0 !important;
    }

    .foodmenu-unit-holder a.lafka-foodmenu-image-link + .foodmenu-unit-info, .foodmenu-unit-holder > img + .foodmenu-unit-info {
        width: 100%;
    }

    a.lafka-foodmenu-image-link + .foodmenu-unit-info a.foodmenu-link, .foodmenu-unit-holder > img + .foodmenu-unit-info a.foodmenu-link {
        padding: 0;
    }

    .lafka-none-overlay .foodmenu-unit-info h4 {
        position: static;
    }

    .foodmenu-unit-info h4 > span {
        position: absolute;
        top: 25px;
        right: 0;
    }

    .foodmenu-unit-info h4 > span.lafka-item-weight-list {
        top: 52px;
        max-width: calc(100% - 105px);
        font-size: 11px;
    }

    .foodmenu-unit-info h4::after {
        display: none;
    }

    .foodmenu-unit-info h6 {
        padding-top: 5px;
        border-top: 2px dotted;
    }

    .foodmenu-unit-info ul li .lafka-foodmenu-price, .lafka-foodmenu-option {
        width: 44.5%;
    }

    .lafka-foodmenu-option {
        width: 55%;
    }

    .lafka-foodmenu-image-link {
        margin-bottom: 8px;
    }

    .foodmenu-unit-info a.foodmenu-lightbox-link {
        top: 50px;
    }

    form.checkout.woocommerce-checkout #order_review {
        padding: 15px;
    }

    table.woocommerce-checkout-review-order-table th.product-name, table.woocommerce-checkout-review-order-table td.product-name {
        width: auto;
    }

    table.woocommerce-checkout-review-order-table th.product-total, table.woocommerce-checkout-review-order-table td.product-total {
        width: 90px;
    }

    table.woocommerce-checkout-review-order-table dl.variation dd, table.woocommerce-checkout-review-order-table dl.variation dt {
        width: 100%;
    }

    table.woocommerce-checkout-review-order-table dl.variation dt.variation- {
        display: none;
    }
}

@media only screen and (min-width: 320px) and (max-width: 599px) {

.lafka-checkout-datetime-fields {
    height: auto;
    padding: 15px 0;
  }

  .lafka-checkout-datetime-fields input#lafka_checkout_date {
    width: 110px;
  }

  .lafka-checkout-datetime-fields span.select2-container {
    width: auto !important;
    min-width: 120px;
  }

  .lafka-checkout-datetime-container {
    padding: 5px;
  }

  .lafka-checkout-datetime-fields .lafka-datetime-clear {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border: none;
  }

  .lafka-checkout-datetime-fields .lafka-datetime-clear::before {
    margin-right: 0;
    font-size: 21px;
    width: 24px;
    height: 24px;
    line-height: 24px;
  }

  .lafka-delivery-time-toggle, .lafka-delivery-time-toggle::before {
      font-size: 12px;
  }

  .woocommerce-message[data-lafka-notice="minimum-amount"] {
      margin-bottom: 20px !important;
  }

  .woocommerce-message[data-lafka-notice="minimum-amount"], .woocommerce-message[data-lafka-notice="minimum-amount"]::before {
      font-size: 14px;
  }

  .woocommerce-message[data-lafka-notice="minimum-amount"]::before {
      margin-right: 3px;
  }
}

@media only screen and (min-width: 380px) and (max-width: 599px) {

    #price-filter, a.lafka-filter-widgets-triger {
        width: 100%;
    }

    .lafka_shortcode_latest_posts.lafka_blog_masonry .owl-item .blog-post {
        padding: 0 !important;
    }

    .lafka-foodmenu-categories ul li {
        width: 100%;
        text-align: left;
    }

    a.lafka-filter-widgets-triger {
        background-color: #fff;
        border: 1px solid #f1f1f1;
        vertical-align: middle;
        padding: 0 10px;
        margin-bottom: 10px;
    }

    a.lafka-filter-widgets-triger::before {
        vertical-align: middle;
        line-height: 64px;
    }

    .product-filter .limit b, .product-filter .sort b {
        display: none;
    }

    .one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, #footer-menu .menu > li {
        width: 98%;
        margin-right: 1% !important;
        margin-left: 1% !important;
        margin-bottom: 30px;
    }

    div.prod_hold, li.product-category, div.product-category {
        width: 100% !important;
    }

    div.summary ul.lafka-nutrition-list li, .foodmenu_top .project-data .project-details ul.simple-list-underlined li.lafka-foodmenu-nutrition-list ul li {
        min-width: 75px;
    }

    body.single-product #content:not(.has-sidebar) > #products-wrapper.inner {
        padding-top: 0;
    }

    .prod_hold .lafka-list-prod-summary {
        padding: 30px 0 20px 0;
    }

    .lafka-products-list-view .prod_hold .lafka-list-prod-summary {
        padding: 0 20px 15px 20px;
    }

    .lafka-product-list-description {
        padding: 5px 0 0 0;
    }

    div.prod_hold .links {
        padding: 0 0;
    }

    .lafka-list-variation-weight {
        display: none;
    }

    .summary form.cart div.product-addon p.form-row {
        width: 100%;
    }

    .foodmenu-unit.list-unit .foodmenu-unit-info {
        padding: 20px;
    }

    div.prod_hold a.button.add_to_cart_button i.fa, .foodmenu-unit.list-unit .foodmenu-unit-info::before {
        display: none;
    }

    a.reset_variations {
        display: none;
    }

    .blog-post {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
        padding-top: 0 !important;
        border: none !important;
        width: 100% !important;
    }

    .post-date::before {
        display: none !important;
    }

    .lafka_blog_small_image .lafka_post_data_holder {
        margin-left: 0 !important;
        clear: both !important;
    }

    .foodmenu-unit.foodmenu-col-2, .foodmenu-unit.foodmenu-col-3, .foodmenu-unit.masonry-unit, .foodmenu-unit.foodmenu-col-4, .lafka_masonry_fullwidth .foodmenu-unit.masonry-unit {
        width: 100%;
    }

    .foodmenu-unit a.foodmenu-link {
        padding: 20px;
    }

    .lafka_blog_small_image .blog-post {
        display: block;
    }

    .lafka_blog_small_image .blog-post .post-unit-holder, .lafka_blog_small_image .blog-post .lafka_flexslider.post_slide, .lafka_blog_small_image .blog-post .slideshow {
        margin-right: 0;
        width: 100%;
        float: none;
        display: block;
        margin-bottom: 35px;
    }

    #cart-module div.widget.woocommerce.widget_shopping_cart {
        width: 250px;
    }

    .wpb_text_column h1, h1.vc_custom_heading, .lafka_title_holder.title_has_image h1.heading-title, #content div.product div.summary h1.product_title {
        font-size: 32px !important;
    }

    .wpb_text_column h2, h2.vc_custom_heading {
        font-size: 28px !important;
    }

    .wpb_text_column h3, h3.vc_custom_heading {
        font-size: 24px !important;
    }

    .wpb_text_column h4, h4.vc_custom_heading {
        font-size: 18px !important;
    }

    .wpb_text_column h5, h5.vc_custom_heading {
        font-size: 16px !important;
    }

    .lafka-product-slide-details, .lafka-product-slide-image {
        width: 100%;
        display: block;
        padding: 0;
    }

    .lafka-product-slide-image {
        margin-bottom: 30px;
    }

    .cart-info .coupon, .cart-info .coupon input, table.shop_table.cart .actions > input.button, form.checkout_coupon p, form.checkout_coupon p input, .cart-info .coupon button, .cart-info tbody td.actions > button.button {
        width: 100%;
    }

    .cart-info .coupon button {
        margin-bottom: 5px;
        background-color: #333;
    }

    .has-sidebar .wcmp_sorted_vendors {
        width: 100% !important;
    }
}

@media only screen and (min-width: 300px) and (max-width: 379px) {

    #price-filter, a.lafka-filter-widgets-triger {
        width: 100%;
    }

    .lafka_shortcode_latest_posts.lafka_blog_masonry .owl-item .blog-post {
        padding: 0 !important;
    }

    a.lafka-filter-widgets-triger {
        background-color: #fff;
        border: 1px solid #f1f1f1;
        vertical-align: middle;
        padding: 0 10px;
        margin-bottom: 10px;
    }

    #header #logo.lafka_text_logo {
        min-width: 120px !important;
    }

    .lafka-foodmenu-categories ul li {
        width: 100%;
        text-align: left;
    }

    a.lafka-filter-widgets-triger::before {
        vertical-align: middle;
        line-height: 64px;
    }

    .product-filter .limit b, .product-filter .sort b {
        display: none;
    }

    #header_bottom, #header_bottom .inner {
        height: auto !important;
    }

    .one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, #footer-menu .menu > li {
        width: 98%;
        margin-right: 1% !important;
        margin-left: 1% !important;
        margin-bottom: 30px;
    }

    div.prod_hold, li.product-category, div.product-category {
        width: 100% !important;
    }

    body.single-product #content:not(.has-sidebar) > #products-wrapper.inner {
        padding-top: 0;
    }

    .prod_hold .lafka-list-prod-summary {
        padding: 30px 0 20px 0;
    }

    .lafka-product-list-description {
        padding: 5px 0 0 0;
    }

    div.prod_hold .links {
        padding: 0 0;
    }

    .lafka-list-variation-weight {
        display: none;
    }

    div.summary ul.lafka-nutrition-list li, .foodmenu_top .project-data .project-details ul.simple-list-underlined li.lafka-foodmenu-nutrition-list ul li {
        min-width: 75px;
    }

    .summary form.cart div.product-addon p.form-row {
        width: 100%;
    }

    .foodmenu-unit.list-unit .foodmenu-unit-info {
        padding: 20px;
    }

    div.prod_hold a.button.add_to_cart_button i.fa, .foodmenu-unit.list-unit .foodmenu-unit-info::before {
        display: none;
    }

    a.reset_variations {
        display: none;
    }

    #header #welcome {
        width: 100%;
        float: none;
        clear: both;
        padding: 15px 0;
        text-align: right;
    }

    .blog-post {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
        padding-top: 0 !important;
        border: none !important;
        width: 100% !important;
    }

    .post-date::before {
        display: none !important;
    }

    .lafka_blog_small_image .lafka_post_data_holder {
        margin-left: 0 !important;
        clear: both !important;
    }

    .foodmenu-unit.foodmenu-col-2, .foodmenu-unit.foodmenu-col-3, .foodmenu-unit.masonry-unit, .foodmenu-unit.foodmenu-col-4, .lafka_masonry_fullwidth .foodmenu-unit.masonry-unit {
        width: 100%;
    }

    .foodmenu-unit a.foodmenu-link {
        padding: 20px;
    }

    .lafka_blog_small_image .blog-post {
        display: block;
    }

    .lafka_blog_small_image .blog-post .post-unit-holder, .lafka_blog_small_image .blog-post .lafka_flexslider.post_slide, .lafka_blog_small_image .blog-post .slideshow {
        margin-right: 0;
        width: 100%;
        float: none;
        display: block;
        margin-bottom: 35px;
    }

    #cart-module div.widget.woocommerce.widget_shopping_cart {
        width: 250px;
    }

    .wpb_text_column h1, h1.vc_custom_heading, .lafka_title_holder h1.heading-title, #content div.product div.summary h1.product_title {
        font-size: 32px !important;
    }

    span.striped-word {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)) no-repeat center left / 100% .5rem;
    }

    .lafka_title_holder h1.heading-title {
        font-size: 25px !important;
    }

    .wpb_text_column h2, h2.vc_custom_heading {
        font-size: 32px !important;
    }

    .wpb_text_column h3, h3.vc_custom_heading, .icon_teaser h3:first-child, .related.products h2, .upsells.products h2, .similar_projects > h4, .lafka-related-blog-posts > h4, .tribe-events-related-events-title {
        font-size: 27px !important;
    }

    .wpb_text_column h4, h4.vc_custom_heading {
        font-size: 18px !important;
    }

    .wpb_text_column h5, h5.vc_custom_heading {
        font-size: 16px !important;
    }

    .lafka-author-info .title {
        padding: 0 0 0 65px;
    }

    .lafka-author-info .title h2 {
        text-transform: none;
    }

    .lafka-author-info .title h2 a {
        font-size: 19px;
    }

    .lafka-author-content .description {
        font-size: 13px;
    }

    body.single-post #comments {
        padding-bottom: 0;
        padding-top: 40px;
    }

    .lafka-author-content div.avatar {
        top: -67px;
        width: 50px;
        height: 50px;
    }

    .lafka-product-slide-details, .lafka-product-slide-image {
        width: 100%;
        display: block;
        padding: 0;
    }

    .lafka-product-slide-image {
        margin-bottom: 30px;
    }

    .wpb_lafka_banner a h4 {
        font-size: 16px;
        line-height: normal;
    }

    .lafka_banner_text .lafka_banner_centering .lafka_banner_centered {
        padding: 30px;
    }

    a#cancel-comment-reply-link {
        float: none;
        clear: both;
        display: block;
    }

    .cart-info .coupon, .cart-info .coupon input, table.shop_table.cart .actions > input.button, form.checkout_coupon p, form.checkout_coupon p input {
        width: 100%;
    }

    .has-sidebar .wcmp_sorted_vendors {
        width: 100% !important;
    }

    ul.tabs a {
        padding: 15px !important;
    }

    .woocommerce-tabs ul.tabs a {
        padding: 8px 0 !important;
        font-size: 12px;
        margin-bottom: 8px;
    }

    .lafka-products-list-view .prod_hold .lafka-list-prod-summary {
        padding: 0 0 15px 0;
        position: initial;
    }

    .lafka-products-list-view div.prod_hold .image {
        display: block;
        margin-bottom: 10px;
    }

    .lafka-products-list-view div.prod_hold .lafka-list-view-summary-wrap {
        width: 100%;
    }

    .lafka-products-list-view div.prod_hold .name {
        font-size: 15px;
        padding: 0;
    }

    .lafka-products-list-view .prod_hold .links, .lafka-products-list-view div.prod_hold.lafka-variations-list-in-catalog .links a.lafka-quick-view-link {
        top: auto !important;
        right: auto !important;
        position: relative !important;
    }

    .lafka-products-list-view .prod_hold .price_hold {
        top: 55px;
    }

    .lafka-products-list-view div.prod_hold:not(.lafka-variations-list-in-catalog) .links {
        width: auto;
    }

    .lafka-products-list-view div.prod_hold a.button, .lafka-products-list-view div.prod_hold .links a.button.add_to_cart_button, .lafka-products-list-view div.prod_hold .links a.button.add_to_cart_button.ajax_add_to_cart {
        width: auto;
        text-indent: 0;
        font-size: 12px;
        padding: 0 12px 0 4px;
    }

    .lafka-products-list-view div.prod_hold .links a.button.add_to_cart_button::before, .lafka-products-list-view div.prod_hold .links a.button.product_type_grouped::before, .lafka-products-list-view div.prod_hold .links a.button.product_type_external::before {
        display: inline-block;
    }

    .lafka-products-list-view div.prod_hold .woocommerce-product-details__short-description p {
        font-size: 14px;
    }

    .lafka-products-list-view div.prod_hold:not(.lafka-variations-list-in-catalog) .links a.lafka-quick-view-link {
        width: auto;
        text-indent: 0;
        font-size: 12px;
        padding: 0 12px;
        text-align: left;
    } 

.lafka-products-list-view div.prod_hold:not(.lafka-variations-list-in-catalog) .links a.lafka-quick-view-link::before {
        display: inline-block;
        margin-right: 4px;

    }

    .lafka-products-list-view.lafka-is-shortcode .prod_hold .lafka-list-prod-summary {
        width: 100%;
    }

    .lafka-products-list-view.lafka-is-shortcode div.prod_hold.lafka-variations-list-in-catalog .links {
        padding: 0;
    }
}

    /* NEW WISHLIST STYLES */
#yith-wcwl-form .wishlist_table.mobile {
        border: none !important;
    }

#yith-wcwl-form .wishlist_table.mobile, #yith-wcwl-form .wishlist_table.mobile tbody td, #yith-wcwl-form .wishlist_table.mobile tbody tr {
        display: block !important;
        padding: 12px 0 !important;
        text-align: right;
        background: none;
        border: none;
        vertical-align: middle;
    }

#yith-wcwl-form .wishlist_table.mobile tbody td {
        text-align: center !important;
    }

#yith-wcwl-form .wishlist_table.mobile tbody > span {
        display: block !important;
        text-align: right;
        background: none;
        border: none;
        vertical-align: middle;
    }

#yith-wcwl-form .wishlist_table.mobile tbody {
        width: 100% !important;
        border-collapse: collapse !important;
        display: table-row-group;
        min-width: 100% !important;
        float: left;
        vertical-align: middle;
    }

#yith-wcwl-form .wishlist_table.mobile thead {
        display: none;
    }

#yith-wcwl-form .wishlist_table.mobile tbody span, #yith-wcwl-form .wishlist_table.mobile tbody td a {
        float: right;
        vertical-align: middle;
        width: auto !important;
    }

    #yith-wcwl-form .wishlist_table.mobile tbody td a, #yith-wcwl-form tble.wishlist_table.mobile tbody td > span {
        width: 100% !important;
    }

    #yith-wcwl-form .wishlist_table.mobile tr {
        border-bottom: 1px solid #f1f1f1;
        background: none !important;
    }

    .woocommerce .wishlist_table.mobile tr td.product-remove {
        display: block;
        font-size: 27px;
        width: 36px !important;
        height: 36px !important;
        vertical-align: middle !important;
        line-height: 36px !important;
        background-color: #f8f8f8;
        border-radius: 50%;
        text-decoration: none;
        float: none;
        margin: 0 auto;
    }

    #yith-wcwl-form .wishlist_table.mobile td span.woocommerce-Price-currencySymbol, #yith-wcwl-form .wishlist_table.mobile td.product-thumbnail a {
        float: none !important;
        margin: 0 auto;
    }

    .wishlist_table.mobile tr td.product-thumbnail a img {
        width: 60px;
    }

    #yith-wcwl-form .wishlist_table.mobile tbody td.product-add-to-cart a.add_to_cart_button {
        width: auto !important;
        float: none !important;
        margin: 0 auto !important;
        display: inline-block !important;
    }

    #yith-wcwl-form .wishlist_table.mobile tbody td {
        text-align: center !important;
        padding: 12px 0 0 0 !important;
        display: inline-block !important;
    }

    .wishlist_table.mobile li .item-wrapper {
        width: 100%;
        margin-bottom: 0;
    }

    .wishlist_table.mobile li .item-wrapper .item-details {
        width: 100%;
        text-align: center;
    }

    .wishlist_table.mobile tr td.product-thumbnail a img {
        width: auto;
    }

    .wishlist_table.mobile li {
        text-align: center;
        margin-left: 0;
        padding: 10px;
        border: 1px solid #eaeaea;
        border-radius: 6px;
        position: relative;
    }

    .wishlist_table.mobile li .item-wrapper .product-thumbnail {
        display: inline-block;
        max-width: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    #yith-wcwl-form .wishlist_table.mobile li .item-details h3 {
        font-size: 14px !important;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .wishlist_table.mobile .links a.button.add_to_cart_button {
        color: #fff;
        border-radius: 0;
    }

    .wishlist_table.mobile li .links .yith-wcwl-add-to-wishlist, .wishlist_table.mobile li .product-add-to-cart a.lafka-quick-view-link {
        display: none !important;
    }

    #yith-wcwl-form .wishlist_table.mobile li tbody tr, .wishlist_table.mobile li table.additional-info tr, #yith-wcwl-form .wishlist_table.mobile li table.additional-info {
        padding: 5px 0 0 0 !important;
    }

    #yith-wcwl-form .wishlist_table.mobile li tbody td.label, .wishlist_table.mobile li table.additional-info td.label {
        text-align: left !important;
        width: 49%;
        padding: 0 !important;
    }

    #yith-wcwl-form .wishlist_table.mobile li tbody td.value, .wishlist_table.mobile li table.additional-info td.value {
        text-align: right !important;
        width: 49%;
        padding: 0 !important;
    }

    .wishlist_table.mobile tr:nth-child(2n) {
        background: none !important;
    }

    #yith-wcwl-form .wishlist_table.mobile li table.additional-info, #yith-wcwl-form .wishlist_table.mobile li table.additional-info tr {
        padding: 0 !important;
    }

    .wishlist_table.mobile li .additional-info-wrapper .product-remove {
        position: absolute;
        top: 6px;
        right: 6px;
        width: 28px;
        height: 28px;
        text-align: center;
        border-radius: 50%;
        background: #333;
        vertical-align: middle;
        line-height: 28px;
    }

    .wishlist_table.mobile li .additional-info-wrapper .product-remove a {
        color: #fff;
    }

    #yith-wcwl-form .wishlist_table.mobile {
        margin-left: 0;
        list-style: none;
    }

    #yith-wcwl-form .wishlist_table.mobile table {
        font-size: 13px;
        border: none;
    }

    /* END OF NEW WISHLIST STYLES */

/* Addon grid responsive override */
@media only screen and (max-width: 599px) {

    .summary form.cart div.product-addon {
        grid-template-columns: 1fr;
    }
}